:root {
  --rich-black-fogra-39_50: hsla(0, 0%, 5%, 0.5);
  --rich-black-fogra-39: hsl(0, 0%, 5%);
  --indian-yellow_10: hsla(36, 61%, 58%, 0.1);
  --indian-yellow: hsl(257, 5%, 25%);
  --harvest-gold: hsl(236, 28%, 11%);
  --eerie-black-1: hsl(0, 0%, 14%);
  --eerie-black-2: hsl(0, 0%, 12%);
  --eerie-black-2_85: hsla(0, 0%, 12%, 0.85);
  --eerie-black-3: hsl(0, 0%, 8%);
  --sonic-silver: hsl(0, 0%, 44%);
  --davys-gray: hsl(210, 9%, 31%);
  --light-gray: hsl(0, 0%, 80%);
  --platinum: hsl(0, 0%, 91%);
  --black_30: hsla(0, 0%, 0%, 0.3);
  --white_10: hsla(0, 0%, 100%, 0.1);
  --white_30: hsla(0, 0%, 100%, 0.3);
  --white_50: hsla(0, 0%, 100%, 0.5);
  --white: hsl(0, 0%, 100%);
  --jet: hsl(0, 0%, 21%);

  --ff-oswald: 'Oswald', sans-serif;
  --ff-rubik: 'Rubik', sans-serif;

  --fs-40: 3.25rem;
  --fs-30: 3rem;
  --fs-24: 2.4rem;
  --fs-18: 1.8rem;
  --fs-14: 1.4rem;
  --fs-13: 1.3rem;

  --fw-300: 300;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --section-padding: 80px;

  --shadow-1: 10px 0 60px hsla(0, 0%, 15%, 0.07);
  --shadow-2: 10px 0 60px hsla(0, 0%, 15%, 0.1);

  --radius-5: 5px;
  --radius-8: 8px;

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

body {
  background-color: var(--platinum);
  font-family: var(--ff-rubik);
  font-size: var(--fs-14);
}

header {
  background-color: var(--platinum);
  color: var(--platinum);
  padding: 15px;
  text-align: center;
  font-family: var(--ff-oswald);
  font-size: var(--fs-40);
}

.logo {
  color: var(--eerie-black-3);

}


.agendamento {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--light-gray);
  border-radius: var(--radius-5);
  box-shadow: var(--shadow-1);
}


form {
  margin: 0;
}

label {
  display: block;
  margin-bottom: 5px;
  color: var(--davys-gray);
}

select, input[type="date"], input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--sonic-silver);
  border-radius: var(--radius-5);
  background-color: var(--eerie-black-2);
  color: var(--platinum);
  font-family: var(--ff-rubik);
  font-size: var(--fs-14);
}

button {
  display: block;
  margin-top: 10px;
  padding: 10px;
  background-color: var(--black_30 
  );
  color: var(--white);
  border: none;
  border-radius: var(--radius-5);
  cursor: pointer;
  transition: background-color var(--transition-1);
}

button:hover {
  background-color: var(--indian-yellow);
  transition: background-color var(--transition-2);
}

footer {
  background-color: var(--eerie-black-2);
  color: var(--platinum);
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: var(--ff-rubik);
}